#menu{
	float:left;
	width:30%;
  min-height: 90vh;
}
#droite{
float:right;width: 70%;

}
#tabs{
  min-height: 90vh;
}
#tabs li .ui-icon-close {
	float: left; margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}

.intLink { cursor: pointer; }
img.intLink {
	border: 0;
	margin-top: 5px;
	margin-left: 5px;
 }
#toolBar select {
	font-size:10px;
}
#toolBar{
	background-color: #ff9900;
	border-radius: 10px;
	border-bottom: 5px solid #b36b00;
	width: 95%;
}
#textBox {
  width: 95%;
  min-height: 70vh;
  border: 1px #000000 solid;
	background-color: white;
  padding: 12px;

		color:black;
  overflow: scroll;
}
#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#editMode label { cursor: pointer; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
